:root{
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
    --para-size:14px;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    font-family: "Inter", serif;
    background-color: var(--Grey-900);
}
.social-app{
    background-color: var(--Grey-800);
    width:50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    padding:50px;
    text-align: center;
}
.social-app img{
    border-radius: 50%;
    
}

.intro-text h2{
   margin-top: 50px;
   color:var(--White);
}
.intro-text p{
    color:var(--Green);
}

.latest-text h3{
    font-size:16px;
    color:var(--Grey-700);
}

.social a{
    display: block;
    text-decoration: none;
    color:var(--White);
    background-color: var(--Grey-700);
    margin-top: 20px;
    padding:20px 30px;
    transition: 0.3s;
}
.social a:hover{
    color:var(--Grey-900);
    background-color: var(--Green);
}